body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* width: 100%;
  max-width: 1024px; */

}
.divbtn2 {
  display: none;
}
.Dmain {
  width: 100dvw;
  font-family: Arial, sans-serif;
  color: #fff;
  background-repeat: no-repeat;
  background-image: url(img/pexels-markus-winkler-1430818-19825351.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: scroll;
}

.nav {
  width: 100%;
  height: 65px;
  background-image: linear-gradient(to right, #113501, #000000);
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
.divhead {
  width: 30%;
  padding: 5px;
}
.divbtn {
  width: 100%;
}
.divbtn2 {
  width: 100%;
  padding: 0%;
  margin: 0%;
  display: none;
}
.Dashboardbtn2 {
    /* width: 100%; */
    display: none;
    text-align: center;
    background-image: linear-gradient(to left, #236803, #000000);
  }
.menuicon {
  width: 100%;
  display: none;
}
.close_btn {
  width: 50%;
  background-image: linear-gradient(to left, #236803, #000000);
  color: white;
  margin: 10px;
  padding: 10px;
  margin-right: 10%;
  /* width: 20%; */
  float: right;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: none;
  transition: background 0.3s ease;
}
.headingdash {
  width: 60%;
  font-size: xx-large;
  color: white;
  text-align: center;
  font-family: "Dancing Script";
}

.mainSection {
  /* width: 100%; */
  height: 89.7vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: #2f750f52;
  background-image: linear-gradient(#184901dc, #000000e3);
}
.maindiv {
  width: 50%;
  height: 95%;
  padding: 10px;
  display: flex;
  /* background-image: linear-gradient(#184901dc,#000000e3); */
  font-family: "Times New Roman", Times, serif;
  /* font-family: "Dancing Script"; */
  font-size: large;
}
.head_blogtitle {
  text-align: center;
  color: #d9ff00;
}
.head2 {
  color: #d9ff00;
}
.contentdiv {
  width: 100%;
  height: 100%;
}
.imgdiv {
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.imgbanner {
  width: 50%;
  height: 60%;
  transform: rotate(5deg);
}
/* login & Signup */
.LSmain {
  font-family: Arial, sans-serif;
  background-color: #113501cc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main {
  background-image: url(img/pexels-markus-winkler-1430818-19825351.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-attachment: scroll;
}
.mainblog {
  background-image: url(img/pexels-markus-winkler-1430818-19825351.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-attachment: scroll;
  display: none;
}

form {
  background: #ffffff00;
  padding: 30px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.heading_Login {
  background: linear-gradient(to left, #d9ff81, #ffffff);
  background-clip: text;
  color: transparent;
  text-align: center;
}

.fname,
.lname,
.email,
.pass,
.dropdown,
#browser {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: medium;
  border-radius: 10px;
}

.lognSign {
  background-image: linear-gradient(to left, #236803, #000000);
  color: white;
  padding: 10px;
  margin-top: 10px;
  width: 40%;
  float: right;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}
.blogbtn {
  background-image: linear-gradient(to left, #236803, #000000);
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin: 10px;
  width: 40%;
  float: right;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}
.closebtn {
  background-color: #ff0000d7;
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin: 10px;
  width: 40%;
  float: right;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

input[type="submit"]:hover {
  background-image: linear-gradient(to right, #3f3e3e, #000000);
}

.Dashboardbtn {
  background-image: linear-gradient(to left, #236803, #000000);
  color: white;
  margin: 10px;
  padding: 10px;
  width: 20%;
  float: right;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.postdivbtn {
  text-align: center;
}

/* Blog page */
.post_sec {
  padding: 10px;
}
.post {
  width: 100%;
  padding: 10px;
  border: 1px solid #3f3e3e;
  border-radius: 20px;
}
.post_header {
  display: flex;
  align-items: center;
}
.post_pro {
  width: 20px;
  text-align: center;
  color: #fff;
  background-color: #000000;
  padding: 10px;
  border-radius: 100px;
}
.post_name {
  width: 8%;
  padding: 8px;
  font-weight: bold;
}
.post_titel {
  padding: 6px;
}
.post_date {
  text-align: right;
  padding-right: 50px;
}
.post_text {
  padding: 10px;
}

@media only screen and (max-width: 950px) {
  *{
    overflow-x: hidden;
  }
  .mainSection {
    height: fit-content;
    flex-direction: column;
    padding-top: 3%;
  }
  .maindiv {
    width: 90%;
    flex-direction: column;
  }
  .imgdiv{
    width: 80%;
  }
  .contentdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: medium;
  }
  .divhead {
    width: 100%;
    padding: 5px;
  }
  .headingdash {
    width: 100%;
    font-size: x-large;
  }
  .divbtn {
    width: 100%;
    display: block;
  }
  .divbtn2 {
    /* width: 100%; */
    display: none;
    text-align: center;
    background-image: linear-gradient(to left, #236803, #000000);
  }
  .Dashboardbtn2 {
    /* width: 100%; */
    display: none;
    text-align: center;
    background-image: linear-gradient(to left, #236803, #000000);
  }
  .menuicon {
    width: 100%;
    display: none;
  }
  .Dashboardbtn {
    background-image: linear-gradient(to left, #236803, #000000);
    color: white;
    margin: 10px;
    padding: 10px;
    width: 25%;
    float: right;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
  }
}
@media only screen and (max-width: 750px) {
  body{
        overflow-x: hidden;
    }
  .mainSection {
    height: fit-content;
    flex-direction: column;
    padding-top: 3%;
  }
  .maindiv {
    width: 80%;
    flex-direction: column;
  }
  .imgdiv{
    width: 80%;
  }
  .contentdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    font-size: medium;
  }
  .divhead {
    width: 100%;
    padding: 5px;
  }
  .headingdash {
    width: 100%;
    font-size: x-large;
  }
  .divbtn {
    width: 100%;
    display: block;
  }
  .divbtn2 {
    /* width: 100%; */
    display: none;
    text-align: center;
    /* background-image: linear-gradient(to left,#236803,#000000); */
  }
  .Dashboardbtn2 {
    /* width: 100%; */
    display: none;
    text-align: center;
    background-image: linear-gradient(to left, #236803, #000000);
  }
  .menuicon {
    width: 100%;
    display: none;
  }
  .Dashboardbtn {
    background-image: linear-gradient(to left, #236803, #000000);
    color: white;
    margin: 10px;
    padding: 10px;
    width: 25%;
    float: right;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
  }
}

@media (max-width: 600px) {
  *{
        overflow-x: hidden;
    }
  .mainSection {
    width: 100dvw;
    height: fit-content;
    flex-direction: column;
    padding-top: 3%;
  }
  .maindiv {
    width: 80%;
    flex-direction: column;
  }
  .contentdiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
  }
  .divhead {
    width: 100%;
    padding: 5px;
  }
  .headingdash {
    width: 100%;
    font-size: x-large;
  }
  .divbtn {
    width: 100%;
    display: none;
  }
  .divbtn2 {
    width: 100%;
    display: none;
    text-align: center;
    background-image: linear-gradient(to left, #236803, #000000);
  }
  .menuicon {
    width: 100%;
    display: block;
  }
  .Dashboardbtn2 {
    width: 100%;
    background-image: linear-gradient(to left, #000000, #236803);
    color: #fff;
    list-style: none;
    padding: 2%;
    cursor: pointer;
    border-bottom: 1px solid white;
    display: block;
  }
}

.a {
  text-decoration: none;
}
